data/images/train/
data/images/train_224/
data/images/train_old_roi_64/
data/images/train_fov_cc_fov_224/
data/images/train_fov_cc_fov_512/
data/annotations/splits/

experiments/runs/
experiments/experiment_*/data

scripts/__pycache__/

*prueba*
*_copy*
*_old*
*.pth*
*probs.csv*