data/images/train/
data/images/train_224/
data/images/train_old_roi_64/
data/annotations/splits/

scripts/__pycache__/

models/

experiments/runs/
experiments/experiment_0/data
experiments/experiment_0/outputs

*prueba*
*_copy*
*_old*